
/*Beneficios*/

body .accordion-container {
    padding: 0;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    background: linear-gradient( #fff, #fefefe, #eaeaea);
}
.accordion {
    max-width: 800px;
    background: rgba(0, 0, 0, 0.10);
    height: 300px;
    margin: 20px auto;
    display: flex;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 100px;
    .box {
        position: relative;
        height: 100%;
        flex: 1;
        background-position: left;
        background-size: cover;
        transition: .7s;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
    }
    .box:hover{
        flex: 5;
        height: 350px;
    }
    .a3 {
        background-image: url("../img/servicios1.png");
        background-color:  #ee9ca79c;
        color: rgb(10, 10, 10);
    }
    .a4 {
        background-image: url("../img/servicios.png");
        background-color:  #ee9ca79c;
        color:rgb(10, 10, 10);
    }
    .a5 {
        background-image: url("../img/mente1.png");
        background-color:  #ee9ca79c; 
        color:rgb(10, 10, 10);
    }
    .texto {
        background-color: #ee9ca7d5;
        font-weight: normal;
        font-family: 'Exo 2', sans-serif;
        position: absolute;
        bottom: 0;
        opacity: 0;
        width: 200px;
        text-align: center;
        margin: 100px auto 20px auto;
    }
    .box:hover .texto{
        opacity:1;
    }
}

.beneficio-content{
    width: 100%;
    height: 100%;
    padding: 5%;
    text-align: justify;
    color: rgb(2, 2, 2);
    padding: 70px;
    .nutricion {
    width: 100%;
    height: 100%;
    padding: 2%;
    border-radius: 1%; 
    background: -webkit-linear-gradient(to right, #bc91b2d9, #e83b52e3), url("../img/servicios1.png") no-repeat;  
    background: linear-gradient(to right, #b38fb2df, #e83b52e1), url("../img/servicios1.png") no-repeat; 
    background-size: contain;
    background-position: center;
    }
    .salud {
        width: 100%;
        height: 100%;
        padding: 2%;
        border-radius: 1%; 
        background: -webkit-linear-gradient(to right, #bc91b2d9, #e83b52e3), url("../img/servicios.png")no-repeat;  
        background: linear-gradient(to right, #b38fb2df, #e83b52e1), url("../img/servicios.png") no-repeat ; 
        background-size: contain;
        background-position: center;
    }
    .mente {
        width: 100%;
        height: 100%;
        padding: 2%;
        border-radius: 1%; 
        background: -webkit-linear-gradient(to right, #bc91b2d9, #e83b52e3), url("../img/mente1.png") no-repeat;  
        background: linear-gradient(to right, #b38fb2df, #e83b52e1), url("../img/mente1.png") no-repeat; 
        background-size: contain;
        background-attachment: local;
        background-position: center;
    }
    li{
        width: 100%;
        height: 100%;
        font-family: cursive;
        list-style-type: none;
        text-align: justify;
    }
}